
<h1 class="text-center">Welcome, LPD Online Help Desk System </h1>

<div class="card-deck">
    <a asp-page="CreateRequest" asp-controller="Request">
        <div class="card">
            <img class="card-img-top" src="~/IMG/undraw_Subscriber_re_om92.svg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Create Request</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

            </div>
        </div>
    </a>
    <div class="card">
        <img class="card-img-top" src="~/IMG/undraw_To_do_re_jaef.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">History</h5>
            <p class="card-text">Check history of all your reqeust.</p>
         
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="~/IMG/undraw_Personal_site_re_c4bp.svg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Information</h5>
            <p class="card-text">Check or update your information</p>
           
        </div>
    </div>
</div>