@{ Layout = "_Layout"; }
@model IEnumerable<Account>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    @foreach (var assign in Model)
    {
        <tr>
            <td>@assign.AccountId</td>
            <td>@assign.FirstName</td>
            <td>@assign.Contact</td>
            <td>@assign.Email</td>
        </tr>
    }




</table>
