@model IEnumerable<OHDProject.Models.Account>

@{
    ViewData["Title"] = "Index";

}


<p>
    <a asp-action="Register">Create account</a>
</p>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.AccountId">Details</a> |
                
            </td>
        </tr>
        }
        </tbody>
</table>