@model OHDProject.Models.Account
@{ Layout = "_AdminLayout"; }
<environment>
    <link rel="stylesheet" href="~/css/login.css" />
</environment>

<div class="info-signup">
    <div class="container">               
            <div class="information">
                <h2 class="text-center">Add account</h2>
                <form asp-controller="Account" enctype="multipart/form-data" asp-action="Register" method="post">
                    <p style="color:greenyellow">@ViewBag.success</p>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <div class="form-group name-left">
                                <label asp-for="FirstName" class="control-label">First Name: </label>
                                <input asp-for="FirstName" name="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>                    
                        <div class="form-group col-md-6">
                            <div class="form-group username-right">
                                <label asp-for="LastName" class="control-label">Last Name: </label>
                                <input asp-for="LastName" name="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label">Address: </label>
                            <input asp-for="Address" name="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contact" class="control-label">Phone: </label>
                            <input asp-for="Contact" name="Contact" class="form-control" />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Email: </label>
                            <input asp-for="Email" name="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label">Password: </label>
                            <input type="password" asp-for="Password" name="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label">Confirm Password: </label>
                            <input type="password" asp-for="ConfirmPassword" name="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group gender">
                            <label asp-for="Gender" class="control-label">Gender: </label>
                            <input type="radio" asp-for="Gender" name="Gender" value="Man" class="form-check-input" style="margin-left:20px" />
                            <span style="margin-left:40px">Male</span>

                            <input type="radio" asp-for="Gender" name="Gender" value="Woman" class="form-check-input" style="margin-left:50px" />
                            <span style="margin-left:75px">Female</span>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RoleID" class="control-label">Role</label>
                            <select class="form-control" name="RoleID" asp-for="RoleID">
                                <option value="2">Customer</option>
                                <option value="3">Assign</option>
                                <option value="4">Admin</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="CREATE ACCOUNT" class="btn-dark" />
                        </div>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 img-signup"></div>
            <div class="col-md-1"></div>      
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
